texts/turkey_egypt_syria_a_travelogue/chapter_00_preface/chapter_00_schema.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = body

body = element body {div*}
    div = element div {type, n, chapter_title, head, p, trailer}
        type = attribute type { "chapter"}
        n = attribute type {"1"} # number count for chapter etc?
        head = element head {lg}
            lg = element lg {l}
                l = element l {text}
        p = element p {s} 
            s = element s {mixed { ( placeName | date | foreign | title | rs | ref | place | q | persName | district ) } }
                 placeName = element placeName { mixed { (settlement | bloc | country) } }
                 date = element date {}
                 foreign = element foreign {xml:lang}
                    xml:lang = attribute xml:lang {}
                 title = element title {level, xml:lang}
                 rs = element rs {type, ana}
                    type = attribute type {}
                    ana = attribute ana {}
                 ref = element ref {type}
                    type = attribute type {}
                 place = element place {type, placeName}
                 q = element q {}
                 persName = element persName {}
                 district = element district {choice}
                    choice = element choice {orig, reg}


# add roleName, state, sef, language, said, event tags later
# empty tags about the page number and corresponding subject?
# add stuff for footnotes etc

